- alias: Backup Home Assistant every night at 3 AM
  trigger:
    platform: time
    at: 03:00:00
  action:
    alias: Create backup now
    service: backup.create
  id: 7ccc397c2b1c41a8ab98bcf995f51873
- id: '1692303458719'
  alias: Washer Notification
  description: ''
  trigger:
  - type: turned_on
    platform: device
    device_id: d4c6a9d7338763329877d84c479244b4
    entity_id: 487e783b19a6314a30d6954068384020
    domain: binary_sensor
  condition: []
  action:
  - service: notify.notify_alexa
    data:
      message: Washer cycle is complete
  mode: single
- id: '1692303519840'
  alias: Dryer Notification
  description: ''
  trigger:
  - type: turned_on
    platform: device
    device_id: d4c6a9d7338763329877d84c479244b4
    entity_id: 487e783b19a6314a30d6954068384020
    domain: binary_sensor
  condition: []
  action:
  - service: notify.notify_alexa
    data:
      message: Dryer cycle is complete
  mode: single
- id: '1692628502207'
  alias: Bathroom Fan Auto-Off
  description: Turn off the bathroom fan after it has been on for 60 minutes
  triggers:
  - entity_id:
    - switch.master_bathroom_fan
    to:
    - 'on'
    for:
      hours: 1
      minutes: 0
      seconds: 0
    trigger: state
  conditions: []
  actions:
  - target:
      entity_id: switch.bathroom_fan
    action: switch.turn_off
  mode: single
- id: '1692628991830'
  alias: Brother Printing Low Toner Notification
  description: ''
  triggers:
  - entity_id: sensor.hl_2270dw_black_toner_remaining
    below: 15
    trigger: numeric_state
  conditions: []
  actions:
  - data:
      title: HL-2270DW Black toner low
      message: 'Warning: HL-2270DW Black toner is down to  {{ trigger.to_state.state
        if trigger and trigger.to_state else ''TEST_VALUE'' }}%.  Please order a replacement.'
    action: notify.mailrise
  mode: single
- id: '1692732497590'
  alias: Lomi has finished notification
  description: ''
  use_blueprint:
    path: sbyx/notify-or-do-something-when-an-appliance-like-a-dishwasher-or-washing-machine-finishes.yaml
    input:
      power_sensor: sensor.lomi_active_power
      starting_threshold: 100
      finishing_hysteresis: 5
      finishing_threshold: 11
      actions:
      - service: notify.all_notifications
        data:
          message: Lomi cycle is complete
      pre_actions:
      - service: notify.all_notifications
        data:
          message: Lomi cycle has started
- id: '1692732827239'
  alias: Low battery level detection & notification for all battery sensors
  description: ''
  use_blueprint:
    path: sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
    input:
      actions:
      - action: notify.mailrise
        data:
          message: '{{sensors}} battery level is low'
          title: Sensor battery is low
      threshold: 15
- id: '1692773037396'
  alias: Sunrise Lights
  description: ''
  triggers:
  - event: sunrise
    offset: 0
    trigger: sun
  conditions: []
  actions:
  - data: {}
    target:
      entity_id:
      - light.frontyard_lights
      - light.backyard_lights
    action: homeassistant.turn_off
  mode: single
- id: '1692773135337'
  alias: Sunset Lights
  description: ''
  triggers:
  - event: sunset
    offset: 0
    trigger: sun
  conditions: []
  actions:
  - action: light.turn_on
    target:
      entity_id:
      - light.frontyard_lights
      - light.backyard_lights
      - light.christmas_lights
      - light.mini_christmas_tree
      - light.cabinet_lights
      - light.mantle_lights
    data: {}
  mode: single
- id: '1692773337087'
  alias: 10:30 Turn Off
  description: ''
  triggers:
  - at: '22:30:00'
    trigger: time
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id:
      - light.christmas_lights
      - light.nightlight
      - light.gazebo_lights
      - light.mantle_lights
  mode: single
- id: '1692850728103'
  alias: Window check
  description: ''
  trigger:
  - platform: device
    device_id: d697659316a383ebf15b732a6fc2dd17
    domain: media_player
    entity_id: eadebe00559e9f0f62b733c39e0c2736
    type: turned_on
  condition:
  - condition: and
    conditions:
    - condition: state
      state: 'on'
      entity_id: binary_sensor.window_sensors_security
    - condition: time
      after: '22:00:00'
      before: 05:00:00
  action:
  - service: notify.all_notifications
    data:
      message: A window is still open.
  mode: single
- id: '1693648121703'
  alias: Closet Light On Night
  description: ''
  triggers:
  - type: opened
    device_id: 9dec1c7b264036bd932081326c6a6e7d
    entity_id: 17af9eb7645bea406f9f601dd1166eae
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: time
    after: '22:00:00'
    before: 05:00:00
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - sat
    - fri
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      brightness_pct: 2
    target:
      entity_id: light.closet_light
  mode: single
- id: '1693648169342'
  alias: Closet Light Off
  description: ''
  triggers:
  - type: not_opened
    device_id: 9dec1c7b264036bd932081326c6a6e7d
    entity_id: a6af11327505b39414c87495e5ce37a4
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: light.closet_light
  mode: single
- id: '1734163502991'
  alias: Pantry Light On
  description: ''
  triggers:
  - type: opened
    device_id: cc5e563dc5c560175d3789d50dd3d563
    entity_id: b5ce6fc656c42af61d4cb7d829010c11
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: light.pantry_light
    enabled: true
  mode: single
- id: '1734163621802'
  alias: Pantry Light Off
  description: ''
  triggers:
  - type: not_opened
    device_id: cc5e563dc5c560175d3789d50dd3d563
    entity_id: b5ce6fc656c42af61d4cb7d829010c11
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: light.pantry_light
  mode: single
- id: '1747835657133'
  alias: Nightlight On
  description: ''
  triggers:
  - trigger: time
    at: '19:00:00'
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: light.nightlight
  mode: single
- id: '1748833639350'
  alias: Closet Light On Day
  description: ''
  triggers:
  - type: opened
    device_id: 9dec1c7b264036bd932081326c6a6e7d
    entity_id: 17af9eb7645bea406f9f601dd1166eae
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: time
    after: 05:00:00
    before: '22:00:00'
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - sat
    - fri
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      brightness_pct: 100
    target:
      entity_id: light.closet_light
  mode: single
- id: '1767085660029'
  alias: Z-Wave Auto-Heal & Notify
  triggers:
  - entity_id:
    - sensor.second_story_christmas_lights_status
    to: dead
    for:
      minutes: 1
    trigger: state
  actions:
  - target:
      entity_id: '{{ trigger.entity_id }}'
    action: zwave_js.ping
  - data:
      name: Z-Wave Healer
      message: Attempting to revive {{ trigger.to_state.attributes.friendly_name }}...
    action: logbook.log
  - if:
    - condition: template
      value_template: '{{ is_state(trigger.entity_id, ''dead'') }}'
    then:
    - data:
        title: "\U0001F480 Z-Wave Node Dead"
        message: 'The device "{{ trigger.to_state.attributes.friendly_name }}" is
          marked as dead and failed to recover after a ping. Check the physical power
          or air gap switch.

          '
      action: notify.mailrise
  mode: parallel
  max: 10
