- alias: Backup Home Assistant every night at 3 AM
  trigger:
    platform: time
    at: 03:00:00
  action:
    alias: Create backup now
    service: backup.create
  id: 7ccc397c2b1c41a8ab98bcf995f51873
- id: '1692303458719'
  alias: Washer Notification
  description: ''
  trigger:
  - type: turned_on
    platform: device
    device_id: d4c6a9d7338763329877d84c479244b4
    entity_id: 487e783b19a6314a30d6954068384020
    domain: binary_sensor
  condition: []
  action:
  - service: notify.notify_alexa
    data:
      message: Washer cycle is complete
  mode: single
- id: '1692303519840'
  alias: Dryer Notification
  description: ''
  trigger:
  - type: turned_on
    platform: device
    device_id: d4c6a9d7338763329877d84c479244b4
    entity_id: 487e783b19a6314a30d6954068384020
    domain: binary_sensor
  condition: []
  action:
  - service: notify.notify_alexa
    data:
      message: Dryer cycle is complete
  mode: single
- id: '1692628502207'
  alias: Master Bathroom Fan
  description: ''
  triggers:
  - type: turned_on
    device_id: c38ad635023c8ef3e42c9b3c84d5be79
    entity_id: c3effbaf6cf323444485d74c6fe7467e
    domain: fan
    trigger: device
  conditions: []
  actions:
  - action: timer.start
    metadata: {}
    data: {}
    target:
      entity_id: timer.master_bathroom_fan_timer
  mode: single
- id: '1692628991830'
  alias: Brother Printing Low Toner Notification
  description: ''
  trigger:
  - type: value
    platform: device
    device_id: ff22507480fe0358b4e5563698bd37c4
    entity_id: ea76a910da6b823a85f6e36d1ef5eb95
    domain: sensor
    below: 15
  condition: []
  action:
  - service: notify.html5_work
    data:
      message: Brother printer toner is less than 15%
  - service: notify.html5_chromebook
    data:
      message: Brother printer toner is less than 15%
  - service: notify.notify_alexa
    data:
      message: Brother printer toner is less than 15%
  mode: single
- id: '1692732497590'
  alias: Lomi has finished notification
  description: ''
  use_blueprint:
    path: sbyx/notify-or-do-something-when-an-appliance-like-a-dishwasher-or-washing-machine-finishes.yaml
    input:
      power_sensor: sensor.lomi_active_power
      starting_threshold: 100
      finishing_hysteresis: 5
      finishing_threshold: 11
      actions:
      - service: notify.all_notifications
        data:
          message: Lomi cycle is complete
      pre_actions:
      - service: notify.all_notifications
        data:
          message: Lomi cycle has started
- id: '1692732827239'
  alias: Low battery level detection & notification for all battery sensors
  description: ''
  use_blueprint:
    path: sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
    input:
      actions:
      - service: notify.all_notifications
        data:
          message: '{{sensors}} battery level is low'
      threshold: 15
- id: '1692773037396'
  alias: Sunrise Lights
  description: ''
  triggers:
  - event: sunrise
    offset: 0
    trigger: sun
  conditions: []
  actions:
  - data: {}
    target:
      entity_id:
      - light.frontyard_lights
      - light.backyard_lights
    action: homeassistant.turn_off
  - type: turn_on
    device_id: 646ac28bc137e10c8268b9390fbc7ca4
    entity_id: 824593148f9dbd267b52cbaf82b59787
    domain: switch
  mode: single
- id: '1692773135337'
  alias: Sunset Lights
  description: ''
  triggers:
  - event: sunset
    offset: 0
    trigger: sun
  conditions: []
  actions:
  - action: light.turn_on
    target:
      entity_id:
      - light.frontyard_lights
      - light.backyard_lights
      - light.christmas_lights
      - light.mini_christmas_tree
      device_id:
      - 051506996b7025af1718fd0938479c5f
      - b21fcfea4e8f3d81616d6c16a856ef09
    data: {}
  mode: single
- id: '1692773337087'
  alias: 10:30 Turn Off
  description: ''
  triggers:
  - at: '22:30:00'
    trigger: time
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      device_id:
      - b21fcfea4e8f3d81616d6c16a856ef09
      - d8011ac1e60de7e4669232b3cfdc3349
      entity_id: light.christmas_lights
  - type: turn_off
    device_id: 646ac28bc137e10c8268b9390fbc7ca4
    entity_id: 824593148f9dbd267b52cbaf82b59787
    domain: switch
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      device_id: 3e6416a58f68aca51d7751b3ba70b5fa
  mode: single
- id: '1692850728103'
  alias: Window check
  description: ''
  trigger:
  - platform: device
    device_id: d697659316a383ebf15b732a6fc2dd17
    domain: media_player
    entity_id: eadebe00559e9f0f62b733c39e0c2736
    type: turned_on
  condition:
  - condition: and
    conditions:
    - condition: state
      state: 'on'
      entity_id: binary_sensor.window_sensors_security
    - condition: time
      after: '22:00:00'
      before: 05:00:00
  action:
  - service: notify.all_notifications
    data:
      message: A window is still open.
  mode: single
- id: '1693648121703'
  alias: Closet Light On Night
  description: ''
  triggers:
  - type: opened
    device_id: 9dec1c7b264036bd932081326c6a6e7d
    entity_id: 17af9eb7645bea406f9f601dd1166eae
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: time
    after: '22:00:00'
    before: 05:00:00
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - sat
    - fri
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      brightness_pct: 2
    target:
      device_id: b16c11ad9c696225677d8e91545f56d1
  mode: single
- id: '1693648169342'
  alias: Closet Light Off
  description: ''
  triggers:
  - type: not_opened
    device_id: 9dec1c7b264036bd932081326c6a6e7d
    entity_id: a6af11327505b39414c87495e5ce37a4
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      device_id: b16c11ad9c696225677d8e91545f56d1
  mode: single
- id: '1695107284353'
  alias: Front Door Notification
  description: ''
  trigger:
  - platform: state
    entity_id:
    - binary_sensor.front_door_doorbell
    to: 'on'
  condition: []
  action:
  - service: notify.alexa_media_kitchen_echo
    data:
      message: Someone is at the door
  mode: single
- id: '1734163502991'
  alias: Pantry Light On
  description: ''
  triggers:
  - type: opened
    device_id: cc5e563dc5c560175d3789d50dd3d563
    entity_id: b5ce6fc656c42af61d4cb7d829010c11
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: 21664bfdfb83949e25457d17ab205675
  mode: single
- id: '1734163621802'
  alias: Pantry Light Off
  description: ''
  triggers:
  - type: not_opened
    device_id: cc5e563dc5c560175d3789d50dd3d563
    entity_id: b5ce6fc656c42af61d4cb7d829010c11
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      device_id: 21664bfdfb83949e25457d17ab205675
  mode: single
- id: '1747835657133'
  alias: Nightlight On
  description: ''
  triggers:
  - trigger: time
    at: '19:00:00'
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: 3e6416a58f68aca51d7751b3ba70b5fa
  mode: single
- id: '1748833639350'
  alias: Closet Light On Day
  description: ''
  triggers:
  - type: opened
    device_id: 9dec1c7b264036bd932081326c6a6e7d
    entity_id: 17af9eb7645bea406f9f601dd1166eae
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: time
    after: 05:00:00
    before: '22:00:00'
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - sat
    - fri
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      brightness_pct: 100
    target:
      device_id: b16c11ad9c696225677d8e91545f56d1
  mode: single
