# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

!*.yaml

# Ignore folders.
.storage
.cloud
.google.token
**/backups

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

*.db*
*.log*
.HA_VERSION
