# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

!*.yaml

# Ignore folders.
.storage
.cloud
.google.token
**/backups
.ssh
.vscode
custom_components
portainer
www
node-red
vscode
# mosquitto
esphome/trash/
ha/.cache/
ha/.local/

# Matter
matter/*
!matter/.gitkeep

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
html5_push_registrations.conf
secret.txt

*.db*
*.log*
.HA_VERSION
*.pyc
*.py
.env
.bashrc
.bash_history
*.js
*.js.gz

site/

**/mosquitto.conf
