# --8<-- [start:home-assistant]
---
services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/linuxserver/homeassistant:2025.12.4
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ./ha:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /dev/serial/by-id/usb-Nabu_Casa_SkyConnect_v1.0_8aaab0838e91ed1196c1c3d13b20a988-if00-port0:/dev/ttyUSB0
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      # - /dev/ttyUSB1:/dev/ttyUSB1
    restart: unless-stopped
    privileged: true
    # network_mode: host
    networks:
      - localnet
    depends_on:
      - esphome
      - mosquitto
      - rtl433
      - zwave-js-ui
    ports:
      - 8123:8123
  # --8<-- [end:home-assistant]
  # --8<-- [start:esphome]
  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome:2025.12.2
    volumes:
      - ./esphome:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    networks:
      - localnet
    ports:
      - 6052:6052
    # network_mode: host
  # --8<-- [end:esphome]
  # --8<-- [start:mosquitto]
  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    volumes:
      - ./mosquitto:/mosquitto
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
      - ./mosquitto/config:/mosquitto/config
      - /etc/localtime:/etc/localtime:ro
      - ./mosquitto/config/password.txt:/mosquitto/config/password.txt
    ports:
      - 1883:1883
      - 9001:9001
    restart: unless-stopped
    networks:
      - localnet
  # --8<-- [end:mosquitto]
  # --8<-- [start:rtl433]
  rtl433:
    image: hertzg/rtl_433:25.12
    container_name: rtl433
    devices:
      - /dev/rtl433:/dev/bus/usb/001/001
    command:
      - "-Mtime:unix:usec:utc"
      - "-Fmqtt://mosquitto:1883,retain=1,user=${RTL_USER},pass=${RTL_PASS},events=rtl_433[/model][/id]"
      - "-Ccustomary"
      - "-f915M"
      - "-f433.9M"
    restart: unless-stopped
    networks:
      - localnet
    # network_mode: host
  # --8<-- [end:rtl433]
  # --8<-- [start:zwave-js-ui]
  zwave-js-ui:
    container_name: "zwave-js-ui"
    image: "zwavejs/zwave-js-ui:11.9.1"
    tty: true
    stop_signal: SIGINT
    user: ${PUID}:${PGID}
    devices:
      - "/dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00:/dev/zwave"
    environment:
      - "SESSION_SECRET=mysupersecretkey"
    ports:
      - "3000:3000"
      - "8091:8091"
    restart: "always"
    volumes:
      - "/home/nicholas/git/nicholaswilde/home-assistant/zwave:/usr/src/app/store"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - /etc/localtime:/etc/localtime:ro
    working_dir: "/usr/src/app"
    networks:
      - localnet
    # network_mode: host
    # --8<-- [end:zwave-js-ui]

networks:
  localnet:
    driver: bridge
